<app-menu></app-menu>
<div>
<h1>Heading Here</h1>
</div>

<div class="data-container">
<h1>All Feedback Questions Details</h1>
<mat-form-field appearance="standard" class="filter">
  <mat-label>Global Search (case sensitive)</mat-label>
  <input matInput (keyup)="applyFilter()" placeholder="Enter Course Name" #input [(ngModel)]="filterData">
</mat-form-field>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<mat-form-field appearance="standard" class="filter">
    <mat-label>Status</mat-label>

    <mat-select [(ngModel)]="statusFilter" (selectionChange)="applyFilter()">
        <mat-option value="" *ngIf="userRole == 'admin'">All</mat-option>
        <mat-option value="true">Active</mat-option>
        <mat-option value="false" *ngIf="userRole == 'admin'">Inactive</mat-option>

    </mat-select>
</mat-form-field>

<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="question">
      <th mat-header-cell *matHeaderCellDef> Question </th>
      <td mat-cell *matCellDef="let row" class="question-column">
  <div [class.ellipsis]="!row.expanded">
    {{ row.question }}
  </div>

  <span
    *ngIf="row.question?.length > 50"
    class="show-more-link"
    (click)="row.expanded = !row.expanded">
    {{ row.expanded ? 'Show Less' : 'Show More' }}
  </span>
</td>
    </ng-container>
    
    <ng-container matColumnDef="option_a">
      <th mat-header-cell *matHeaderCellDef> Option A </th>
      <td mat-cell *matCellDef="let row"> {{row.option_a}} </td>
    </ng-container>

    <ng-container matColumnDef="option_b">
      <th mat-header-cell *matHeaderCellDef> Option B </th>
      <td mat-cell *matCellDef="let row"> {{row.option_b}} </td>
    </ng-container>

    <ng-container matColumnDef="option_c">
      <th mat-header-cell *matHeaderCellDef> Option C </th>
      <td mat-cell *matCellDef="let row"> {{row.option_c}} </td>
    </ng-container>

    <ng-container matColumnDef="option_d">
      <th mat-header-cell *matHeaderCellDef> Option D </th>
      <td mat-cell *matCellDef="let row"> {{row.option_d}} </td>
    </ng-container>

    <ng-container matColumnDef="option_e">
      <th mat-header-cell *matHeaderCellDef> Option E </th>
      <td mat-cell *matCellDef="let row"> {{row.option_e}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let row"> {{userStatus.status[0][row.is_active?'active':'inactive']}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let row">
        <button mat-raised-button  color="primary" (click)="editQuestion(row)"
        *ngIf="userRole == 'admin'">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-raised-button  color="warn"
          (click)="deleteQuestion(row.id, 'Delete', 'Are You Sure Want to Delete?')"
          *ngIf="userRole == 'admin'">
          <mat-icon>delete_fill</mat-icon> 
          Delete
        </button>
      </td>
    </ng-container>
    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>
  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" aria-label="Select page of users"></mat-paginator>
</div>


