<div class="container">
  <div class="header">
    <mat-toolbar color="accent">
      <span>Change Password</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </div>

  <br>
    <div mat-dialog-content class="content-box">
        <div class="error-container">
      <div class="error-alert" *ngIf="responseMsg">
        <p>{{responseMsg}}</p>
      </div>
      </div>
      <form class="example-form" [formGroup]="changePasswordModel" method="POST">

        <!-- <mat-form-field appearance="outline">
  <mat-label>Faculty Username</mat-label>
  <mat-select
    formControlName="faculty"
    (selectionChange)="getFacultyFullName($event)"
    #facultySelect
  > -->
    <!-- Search input inside the dropdown -->
    <!-- <mat-option>
      <input
        type="text"
        placeholder="Search..."
        [(ngModel)]="facultyFilter"
        (ngModelChange)="filterFacultyList()"
        matInput
        style="width: 100%;"
        (click)="$event.stopPropagation()"
        (keydown)="$event.stopPropagation()"
      />
    </mat-option> -->

    <!-- Filtered list -->
    <!-- <mat-option *ngFor="let user of filteredFacultyData" [value]="user.username">
      {{ user.username }}
    </mat-option>
  </mat-select>
</mat-form-field> -->
        <mat-form-field appearance="outline" *ngIf="!requestType">
          <mat-label>All Users</mat-label>
          <mat-select formControlName="user">
            <mat-option *ngFor="let user of allUserData" [value]="user.username">
              {{user.username}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline" *ngIf="requestType">
            <mat-label>Old Password</mat-label>
            <input matInput type="password" placeholder="Enter Old Password" 
                formControlName="old_password" name="oldPassword" 
                [type]="showHideOldPassword ? 'password' : 'text'" >
            <mat-icon matSuffix
                (click)="showHideOldPassword = !showHideOldPassword">{{showHideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput type="password" placeholder="Enter New Password"
                formControlName="new_password" name="newPassword"
                [type]="showHideNewPassword ? 'password' : 'text'" >
            <mat-icon matSuffix
                (click)="showHideNewPassword = !showHideNewPassword">{{showHideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" placeholder="Confirm New Password"
                formControlName="confirm_password" name="confirmPassword"
                [type]="showHideConfirmPassword ? 'password' : 'text'" >
            <mat-icon matSuffix
                (click)="showHideConfirmPassword = !showHideConfirmPassword">{{showHideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

          <br><br><br>
        </form>
      </div>
      <div class="footer-container">
        <div mat-dialog-actions align="end" class="footer-content">
          <button mat-raised-button [disabled]="!changePasswordModel.valid" (click)="proceed()">
            Submit
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        </div>
      </div>
    </div>
