<mat-card class="stat-card">

    <div class="card-header">

        <div class="icon-box"
             [style.background]="card.color">

            <mat-icon>{{card.icon}}</mat-icon>

        </div>

        <div class="card-content">

            <div class="title">

                {{card.title}}

            </div>

            <div class="value">

                {{card.value}}

            </div>

            <div class="subtitle">

                {{card.subtitle}}

            </div>

        </div>

    </div>

</mat-card>