<mat-accordion class="accordion">
    <mat-expansion-panel class="odd">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Accordian 1
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quo voluptatibus minus modi sunt. Magnam ratione, tenetur ipsa quisquam dicta error accusantium dolores provident corporis ab, omnis porro animi quidem et, assumenda architecto recusandae!</p>
    </mat-expansion-panel>

    <mat-expansion-panel class="even">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Accordian 2
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quo voluptatibus minus modi sunt. Magnam ratione, tenetur ipsa quisquam dicta error accusantium dolores provident corporis ab, omnis porro animi quidem et, assumenda architecto recusandae!</p>
    </mat-expansion-panel>

    <mat-expansion-panel class="odd">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Accordian 3
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quo voluptatibus minus modi sunt. Magnam ratione, tenetur ipsa quisquam dicta error accusantium dolores provident corporis ab, omnis porro animi quidem et, assumenda architecto recusandae!</p>
    </mat-expansion-panel>

    <mat-expansion-panel class="even">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Accordian 4
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit quo voluptatibus minus modi sunt. Magnam ratione, tenetur ipsa quisquam dicta error accusantium dolores provident corporis ab, omnis porro animi quidem et, assumenda architecto recusandae!</p>
    </mat-expansion-panel>
</mat-accordion>
