<app-menu></app-menu>

<!-- <div class="username-container">
    <label>Username : </label>
    <h2>{{fullNameOfUser}}</h2>
    <button mat-raised-button color="warn" (click)="logout()">Logout</button>
</div> -->

<div class="container">

    <div class="main-card" (click)="openStudentSignup('student')">
        <div class="icon">
        <mat-icon>person_add</mat-icon>
        </div>
        <div class="label">
        <h1>Add Student</h1>
        </div>
    </div>

    <div class="main-card" routerLink="/display-new-student">
        <div class="icon">
            <span class="material-icons">approval</span>
        </div>
        <div class="label">
        <h1>Approve New Students</h1>
        </div>
    </div>

    <div class="main-card" routerLink="/display-all-student">
        <div class="icon">
        <mat-icon>group</mat-icon>
        </div>
        <div class="label">
        <h1>Display All Students</h1>
        </div>
    </div>

    <div class="main-card" routerLink="/display-all-courses">
        <div class="icon">
        <mat-icon>note_add</mat-icon>
        </div>
        <div class="label">
        <h1>Display All Class/Course</h1>
        </div>
    </div>

    <div class="main-card" routerLink="/display-all-department">
        <div class="icon">
        <mat-icon>school</mat-icon>
        </div>
        <div class="label">
        <h1>Display All Departments</h1>
        </div>
    </div>

    <div class="main-card" routerLink="/display-all-subject">
        <div class="icon">
        <mat-icon>subject</mat-icon>
        </div>
        <div class="label">
        <h1>Display All Subjects</h1>
        </div>
    </div>

    <div class="main-card" routerLink="/display-category">
        <div class="icon">
        <mat-icon>subject</mat-icon>
        </div>
        <div class="label">
        <h1>Display All Categories</h1>
        </div>
    </div>

    <div class="main-card" routerLink="/display-all-batch">
        <div class="icon">
        <mat-icon>subject</mat-icon>
        </div>
        <div class="label">
        <h1>My Batches</h1>
        </div>
    </div>

    <div class="main-card" routerLink="/display-all-feedback-questions">
        <div class="icon">
        <mat-icon>question_answer</mat-icon>
        </div>
        <div class="label">
        <h1>Show Feedback Question</h1>
        </div>
    </div>

    <div class="main-card" routerLink="/user-profile">
        <div class="icon">
        <mat-icon>perm_identity</mat-icon>
        </div>
        <div class="label">
        <h1>My Profile</h1>
        </div>
    </div>

    <div class="main-card">
        <div class="icon">
        <mat-icon>feedback</mat-icon>
        </div>
        <div class="label">
        <h1>Start Feedback</h1>
        </div>
    </div>

    <div class="main-card" (click)="changePassword()">
        <div class="icon">
        <mat-icon>vpn_key</mat-icon>
        </div>
        <div class="label">
        <h1>Change User Password</h1>
        </div>
    </div>
</div>


