.example-spacer {
    flex: 1 1 auto;
  }

  mat-form-field{
    width: 100%;
  }

  .container{
    width: 90%;
    height: 90%;
    align-items: center;
    justify-content: center;
    background-color: pink;
  }

  .buttons{
    padding: 20px;
  }

  .content-box{
    padding-top: 20px;
    height: 90%;
  }

  .otheroptions{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
  }

