
.example-spacer {
    flex: 1 1 auto;
  }

  mat-form-field{
    width: 100%;
  }

.container {
  display: flex;
  flex-direction: column;
  height: 100%; /* or 100% if inside a dialog with limited height */
  overflow: hidden;
}

.header {
  flex-shrink: 0;
}

  .footer-container {
  flex-shrink: 0;
  padding-bottom: 7px;
  /* background-color: #fafafa; */
  border-top: 1px solid #ccc;
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.footer-content{
  padding: 5px;
}

  .content {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 16px;
  box-sizing: border-box;
}